<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Email
    </ion-label>
    <ion-input type="text"[(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Contraseña
      </ion-label>
      <ion-input type="password"[(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-item-divider>
      <ion-button size="default"(click)="onRegister()" color="tertiary">Registrar</ion-button>
      <ion-button color="warning" size="default" href="/login">Iniciar sesión</ion-button>

    </ion-item-divider>
</ion-content>
